@model Waggle.ViewModels.TopicPost

@{
    ViewBag.Title = "CreatePost";
}

<h2>Create Post</h2>

@*Post Title: @Html.TextBox("Post Title") <br /><br />*@
@*Post Body:<br />@Html.EditorFor(model => model.NewPostBody)<br />

@Html.ActionLink("Create Post", "PostCreated", "Post", new { npb = Model.NewPostBody,  }, null)*@

@using (Html.BeginForm("PostCreated", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
     <textarea id="PostBody" name="PostBody"></textarea>
    <label for="uploadFile">Attach a File</label>
    <input type="file" name="uploadFile" />
    <input type="submit" id="btnSubmit" value="Create Post" />
}

@*<input type="button" value="Create Post" onclick="createPost(body)"/>

<script>
    function createPost(body) {
        
    }
</script>*@